.card {
    height: 300px;
    overflow: scroll;

}

.card::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

h2 {
    font-weight: bold;
}

img {
    height: 200px;
    width: auto;
    object-fit: cover;
}