<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:bruno.samuel1@estudante.ifgoiano.edu.br"
                role="button"><i class="fab fa-google"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.linkedin.com/in/bruno-samuel-da-silva-a01671212/" role="button" target="_blank"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Yuyake23" role="button"
                target="_blank"><i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Aplicação feita como requisito parcial de nota para a disciplina de <span class="text-primary">Programação WEB
            I</span>
    </div>
    <!-- Copyright -->
</footer>