<h2>Sobre</h2>
<p>Este site é um trabalho desenvolvido como objetivo parcial de nota para a disciplina de Programação WEB I, ministrada
    pelo professor Jorcivan Ramos.
    A disciplina faz parte do 5° perído do curso de Bacharelado em Sistemas de Informação.
</p>
<p>Os animes estão <i>mockados</i> em um lista dentro de um serviço do angular. Como o objetivo é trabalhar com Angular
    fiz dessa forma, mas é perfeitamente possível conectar este site a um banco de dados real.</p>
<p>O trabalho foi finalizado no dia 11/06/2023</p>

<h3>Tema</h3>
<p>Escolhi fazer sobre animes simplesmente por ser algo que gosto, peguei trinta animes, seus gêneros e sinopses.</p>
<p>O site mostra diferêntes gêneros e os animes que têm tal gêneros.</p>

<h3>Tecnologias</h3>
<p>Este site foi feito principalmente <span>angular</span> juntamente com:</p>
<ul>
    <li> Poppers</li>
    <li>Bootstrap</li>
    <li>jQuery</li>
</ul>
<p></p>